<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link th:href="@{/css/layout.css}" rel="stylesheet" />
<title>マイページ確認・変更　画面</title>
</head>
<body>
	<!-- ヘッダー -->
	<header th:include="layout/header :: head">
	</header>
	<!-- サイドバー -->
	<aside th:include="layout/aside :: side"></aside>
	<!-- メイン -->
	<article class="main">
		<h3 class="page_title">マイページ確認・変更 画面</h3>
		<table border="1">
      		<tr>
      		 <th>社員番号</th>
      		 <td></td>
      		</tr>
      		<tr>
      		 <th>名前</th>
      		 <td></td>
      		</tr>
      		<tr>
      		 <th>パスワード</th>
      		 <td></td>
      		</tr>
      		<tr>
      		 <th>生年月日</th>
      		 <td></td>
      		</tr>
      		<tr>
      		 <th>性別</th>
      		 <td></td>
      		</tr>
		 </table>
		 <div class="_input">
			<input type="submit" value="変更確定">
		 </div>
	</article>
	<!-- フッダー -->
	<footer th:include="layout/footer :: foot"></footer>

</body>
</html>