<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link th:href="@{/css/layout.css}" rel="stylesheet" />
<title>社員一覧画面</title>
</head>
<body>
	<!-- ヘッダー -->
	<header th:include="layout/header :: head">
	</header>
	<!-- サイドバー -->
	<aside th:include="layout/aside :: side"></aside>
	<!-- メイン -->
	<article class="main">
		<h3 class="page_title">社員一覧画面</h3>
		
		 <table border="1">
      		<tr>
      			<th>社員番号</th>
      			<th>名前</th>
      			<th>生年月日</th>
      			<th>性別</th>
      		</tr>
      		<tr th:each="employee : ${employeeList}">
      			<td th:text="${employee.empId}"></td>
      			<td th:text="${employee.empName}"></td>
      			<td th:text="${employee.birthday}"></td>
      			<td th:switch="${employee.gender}">
      				<p th:case="0" th:text="不明"></p>
 					<p th:case="1" th:text="男"></p>
 					<p th:case="2" th:text="女"></p>
 					<p th:case="9" th:text="適応不能"></p>
      			</td>
      		</tr>
		 </table>
            
		
	</article>
	<!-- フッダー -->
	<footer th:include="layout/footer :: foot"></footer>

</body>
</html>

