<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link th:href="@{/css/layout.css}" rel="stylesheet" />
<title>マイページ変更完了画面</title>
</head>
<body>
	<!-- ヘッダー -->
	<header th:include="layout/header :: head">
	</header>
	<!-- サイドバー -->
	<aside th:include="layout/aside :: side"></aside>
	<!-- メイン -->
	<article class="main">
		<h3 class="page_title">マイページ変更完了画面</h3>
		<p>会員情報変更が完了しました。</p>
		<!--<div class="login_label"></div>-->
		<div class="_input">
			<button>
				<a th:href="@{/mypage}">戻る</a>
			</button>
		</div>	
	</article>
	<!-- フッダー -->
	<footer th:include="layout/footer :: foot"></footer>

</body>
</html>